@import "variables";

%areaButtonCommon {
    border: $areaBorderWidth solid $bgDefault;
    text-decoration: none;
    cursor: default;
    margin: 0;
    outline: none;
    user-select: none;
    touch-action: none;
    font-family: inherit;
    font-weight: normal;
    padding: map-get($areaPadding, v) map-get($areaPadding, h);
    font-size: 1.1em;
    overflow: hidden;
    position: relative;
    white-space: normal;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    background-color: $fgDefault;
    color: $bgDefault;

    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border-color: transparent;
    }

    &.label {
        background-color: $bgDefault;
        color: $fgDefault;
        padding: 0 4px;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: auto;
        //hide text until js logic has been executed
        font-size: 0;
        line-height: 0;
    }
    @include mobile {
        border: $areaBorderWidth_mobile solid $bgDefault;
    }
}

.area {
    @extend %areaButtonCommon;
}

.button {
    @extend %areaButtonCommon;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    min-height: 46px;

    &.disabled,
    &[disabled] {
        background-color: map-get($colors, grey) !important;
        color: fade-out($bgDefault, 0.4) !important;
    }

    &:active {
        background-color: lighten($fgDefault, 10%);
    }
}
