@import "variables";

%group {
    display: flex;

    //in main axis
    // justify-content: flex-start;
    //cross main axis
    // align-items: flex-start;
    //how to align when content is wrapped
    // align-content: flex-start;

    .wrap {
        flex-wrap: wrap;
    }

    .flex {
        flex: 1;
    }
}

.group-v {
    @extend %group;
    flex-direction: column;

    .flex {
        height: auto;
    }
}

.group-h {
    @extend %group;
    flex-direction: row;

    .flex {
        width: auto;
    }
}
