@import "variables";

%group {
    display: flex;
    //in main axis
    // justify-content: flex-start;
    //cross main axis
    // align-items: flex-start;
    //how to align when content is wrapped
    // align-content: flex-start;
    &.wrap {
        flex-wrap: wrap;
    }

    &.margin {
        margin: 4px;

        .flex {
            margin: 4px;
        }
    }

    .flex {
        flex: 1;
    }
    //use iteration
    .flex-5 {
        flex: 1 1 5%;
        max-height: 5%;
    }

    .flex-33 {
        flex: 1 1 33.33%;
        max-height: 33.33%;
    }

    .flex-66 {
        flex: 1 1 66.66%;
        max-height: 66.66%;
    }
}

.group-v {
    @extend %group;
    flex-direction: column;

    .flex {
        height: auto;
    }
}

.group-h {
    @extend %group;
    flex-direction: row;

    .flex {
        width: auto;
    }
}
