@import "variables";

%panel-child {
    background-color: $bgDefault;
    color: $fgDefault;
    position: absolute;
    height: auto;
    width: auto;
    overflow: auto;
    top: $zero;
    left: $zero;
    right: $zero;
    bottom: $zero;
    margin: 0;
}

.panel {
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px;
    background-color: $fgDefault;
    margin: $areaMargin * 2;

    &.inline {
        display: inline-block;
        margin: $areaMargin / 2;
    }

    &:before {
        @extend %panel-child;
        content: "";
        overflow: hidden;
    }

    > .content {
        @extend %panel-child;
        margin: 16px;
    }

    > .column {
        @extend %panel-child;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        align-items: stretch;

        > .area,
        > .button {
            margin: $areaMargin 0;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 100%;

            &.stretch {
                height: 1px;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
            }
        }
    }

    > .row {
        @extend %panel-child;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        align-items: stretch;

        > .area,
        > .button {
            margin: 0 $areaMargin;
            height: 100%;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;

            &.stretch {
                width: 1px;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
            }
        }
    }

    &.top {
        > .column {
            margin-top: 40px;
            padding-top: $areaMargin;
        }

        > .row {
            bottom: auto;
        }
    }

    &.left {
        > .column {
            right: auto;
        }

        > .row {
            margin-left: 40px;
            padding-left: $areaMargin;
        }
    }

    &.bottom {
        > .column {
            margin-bottom: 40px;
            padding-bottom: $areaMargin;
        }

        > .row {
            top: auto;
        }
    }

    &.right {
        > .column {
            left: auto;
        }

        > .row {
            margin-right: 40px;
            padding-right: $areaMargin;
        }
    }

    &.top.left {
        border-top-left-radius: $radiusOuter;

        &:before {
            border-top-left-radius: $radiusInner;
        }
    }

    &.top.right {
        border-top-right-radius: $radiusOuter;

        &:before {
            border-top-right-radius: $radiusInner;
        }
    }

    &.bottom.left {
        border-bottom-left-radius: $radiusOuter;

        &:before {
            border-bottom-left-radius: $radiusInner;
        }
    }

    &.bottom.right {
        border-bottom-right-radius: $radiusOuter;

        &:before {
            border-bottom-right-radius: $radiusInner;
        }
    }
}
$width: 180px;
$height: 25px;
//size specific
.panel.top {
    &:before,
    > .content,
    > .column {
        top: $height;
    }

    > .row {
        height: $height;

        > .area.label,
        > .button.label {
            font-size: $height;
            line-height: $height;
        }
    }
}

.panel.bottom {
    &:before,
    > .content,
    > .column {
        bottom: $height;
    }

    > .row {
        height: $height;

        > .area.label,
        > .button.label {
            font-size: $height;
            line-height: $height;
        }
    }
}

.panel.left {
    &:before,
    > .content,
    > .row {
        left: $width;
    }

    > .column {
        width: $width;
    }
}

.panel.right {
    &:before,
    > .content,
    > .row {
        right: $width;
    }

    > .column {
        width: $width;
    }
}
