@import "variables";

%panel-child {
    background-color: $bgDefault;
    color: $fgDefault;
    position: absolute;
    height: auto;
    width: auto;
    overflow: auto;
    top: $zero;
    left: $zero;
    right: $zero;
    bottom: $zero;
    margin: 0;
}

.panel {
    display: block;
    position: relative;
    overflow: hidden;
    height: 300px;
    background-color: $fgDefault;
    margin: $areaMargin * 2;

    &.inline {
        display: inline-block;
        margin: $areaMargin / 2;
    }

    &:before {
        @extend %panel-child;
        content: "";
        overflow: hidden;
    }

    > .content {
        @extend %panel-child;
        margin: 16px;
    }

    > .column {
        @extend %panel-child;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        > .area,
        > .button {
            margin: $areaMargin 0;
            flex: 0 1 auto;
            width: 100%;

            &.stretch {
                height: 1px;
                flex: 1 1 auto;
            }
        }
    }

    > .row {
        @extend %panel-child;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;

        > .area,
        > .button {
            margin: 0 $areaMargin;
            height: 100%;
            flex: 0 1 auto;

            &.stretch {
                width: 1px;
                flex: 1 1 auto;
            }
        }
    }

    &.top {
        > .column {
            margin-top: 40px;
            padding-top: $areaMargin;
        }

        > .row {
            bottom: auto;
        }
    }

    &.left {
        > .column {
            right: auto;
        }

        > .row {
            margin-left: 40px;
            padding-left: $areaMargin;
        }
    }

    &.bottom {
        > .column {
            margin-bottom: 40px;
            padding-bottom: $areaMargin;
        }

        > .row {
            top: auto;
        }
    }

    &.right {
        > .column {
            left: auto;
        }

        > .row {
            margin-right: 40px;
            padding-right: $areaMargin;
        }
    }

    &.top.left {
        border-top-left-radius: $radiusOuter;

        &:before {
            border-top-left-radius: $radiusInner;
        }
    }

    &.top.right {
        border-top-right-radius: $radiusOuter;

        &:before {
            border-top-right-radius: $radiusInner;
        }
    }

    &.bottom.left {
        border-bottom-left-radius: $radiusOuter;

        &:before {
            border-bottom-left-radius: $radiusInner;
        }
    }

    &.bottom.right {
        border-bottom-right-radius: $radiusOuter;

        &:before {
            border-bottom-right-radius: $radiusInner;
        }
    }
}

@mixin panelSizeDefinition($size) {
    @if (map-has-key($size, rowHeight)) {
        $rowHeight: map-get($size, rowHeight);

        &.top {
            &:before,
            > .content,
            > .column {
                top: $rowHeight;
            }
        }

        &.bottom {
            &:before,
            > .content,
            > .column {
                bottom: $rowHeight;
            }
        }

        &.top,
        &.bottom {
            > .row {
                height: $rowHeight;

                > .area.label,
                > .button.label {
                    font-size: $rowHeight;
                    line-height: $rowHeight;
                }
            }
        }
    }

    @if (map-has-key($size, columnWidth)) {
        $columnWidth: map-get($size, columnWidth);

        &.left {
            &:before,
            > .content,
            > .row {
                left: $columnWidth;
            }
        }

        &.right {
            &:before,
            > .content,
            > .row {
                right: $columnWidth;
            }
        }

        &.left,
        &.right {
            > .column {
                width: $columnWidth;
            }
        }
    }
}

@each $name,
$size in $panelSizes {
    .panel#{$name} {
        @include panelSizeDefinition($size);
    }
}

@include mobile {
    @each $name,
    $size in $panelSizes_mobile {
        .panel#{$name} {
            @include panelSizeDefinition($size);
        }
    }
}
