h1 {
    font-size: 3em;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
}

h3 {
    font-size: 1.43em;
    font-weight: normal;
}

h4 {
    font-size: 1.14em;
    font-weight: normal;
}
