@import "variables";

h1 {
    font-size: 3em;
    font-weight: lighter;
    font-family: $font-family-header;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
    font-family: $font-family-header;
}

h3 {
    font-size: 1.43em;
    font-weight: normal;
    font-family: $font-family-header;
}

h4 {
    font-size: 1.14em;
    font-weight: normal;
    font-family: $font-family-header;
}
