$zero: 0; //only for development

$font: 'Segoe UI', Arial, sans-serif !default;
$font-size: 12pt !default;

$radiusOuter: 25px;
$radiusInner: 20px;

$colors: (grey: #9e9993,
          orange: #ff9c00,
          red: #f00,
          tan: #dfaf71, //old: #b1957a,
          grey-brown: #aca98a,
          yellow: #fc3,
          sea-blue: #009cce,
          blue: #3786ff
        );

$bgDefault: #0d0d0d;
$fgDefault: map-get($colors, grey);

$areaPadding: (v: 4px, h: 6px);
$areaBorderWidth: 2px;


@function defineMargins($margin)
{
    @return ("a":             (rule: "", value: $margin),
             "t":             (rule: "-top", value: $margin),
             "l":             (rule: "-left", value: $margin),
             "b":             (rule: "-bottom", value: $margin),
             "r":             (rule: "-right", value: $margin),
             "v":             (rule: "", value: $margin 0),
             "h":             (rule: "", value: 0 $margin));
}

$margins: defineMargins(2px);

@function definePanelSizes($factor: 1)
{
    @return ("":              (columnWidth: 210px * $factor, rowHeight: 25px * $factor),

             ".row-xs":       (rowHeight: 8px * $factor),
             ".row-sm":       (rowHeight: 15px * $factor),
             ".row-lg":       (rowHeight: 45px * $factor),
             ".row-xl":       (rowHeight: 65px * $factor),

             ".col-xs":       (columnWidth: 150px * $factor),
             ".col-sm":       (columnWidth: 180px * $factor),
             ".col-lg":       (columnWidth: 240px * $factor),
             ".col-xl":       (columnWidth: 270px * $factor))
}

$panelSizes: definePanelSizes();
$panelSizes_mobile: definePanelSizes(0.8);


@mixin mobile
{
    @media only screen and (max-width: 767px)  { @content; }
}
