$zero: 0; //only for development

$font: 'Segoe UI', Arial, sans-serif !default;
$radiusOuter: 25px;
$radiusInner: 20px;

$colors: (grey: #9e9993,
          orange: #ff9c00,
          red: #f00,
          tan: #dfaf71, //old: #b1957a,
          grey-brown: #aca98a,
          yellow: #fc3,
          sea-blue: #009cce,
          blue: #3786ff
        );

$bgDefault: #0d0d0d;
$fgDefault: map-get($colors, grey);

$areaPadding: (v: 4px, h: 6px);
$areaMargin: 4px;

@function defineAreaSizes($baseWidth, $baseHeight)
{
    @return ("":              (width: $baseWidth, height: $baseHeight),

             ".v-xs":         (height: $baseHeight / 4 - $areaMargin * 1.5, padding: 0),
             ".v-sm":         (height: $baseHeight / 2 - $areaMargin),
             ".v-lg":         (height: $baseHeight * 2 + $areaMargin * 2),
             ".v-xl":         (height: $baseHeight * 3 + $areaMargin * 4),

             ".h-xs":         (width: $baseWidth / 4 - $areaMargin * 1.5),
             ".h-sm":         (width: $baseWidth / 2 - $areaMargin),
             ".h-lg":         (width: $baseWidth * 2 + $areaMargin * 2),
             ".h-xl":         (width: $baseWidth * 3 + $areaMargin * 4))
}

$areaSizes: defineAreaSizes(168px, 56px);
$areaSizes_mobile: defineAreaSizes(124px, 40px);



// TODO: fixed sizes, no calculation
@function definePanelSizes($baseColumnWidth, $baseRowHeight)
{
    @return ("":              (columnWidth: $baseColumnWidth, rowHeight: $baseRowHeight),

             ".row-xs":         (rowHeight: $baseRowHeight / 4),
             ".row-sm":         (rowHeight: $baseRowHeight / 2),
             ".row-lg":         (rowHeight: $baseRowHeight * 2),
             ".row-xl":         (rowHeight: $baseRowHeight * 3),

             ".col-xs":         (columnWidth: $baseColumnWidth / 4),
             ".col-sm":         (columnWidth: $baseColumnWidth / 2),
             ".col-lg":         (columnWidth: $baseColumnWidth * 2),
             ".col-xl":         (columnWidth: $baseColumnWidth * 3))
}

$panelSizes: definePanelSizes(180px, 25px);
$panelSizes_mobile: definePanelSizes(180px, 25px);


@mixin mobile
{
    @media only screen and (max-width: 767px)  { @content; }
}
