@import "variables";

body {
    -webkit-tap-highlight-color: transparent;
    font-family: $font;
    font-size: $font-size;
    color: $fgDefault;
    background: $bgDefault;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    // @include mobile {
    //     font-size: 0.75em;
    // }
}

select,
button,
textarea,
input {
    font-size: 1em;
}
@import "typography";
@import "group";
@import "area-button";
@import "panel";
@import "colors";
