@import "variables";

.bgDefault {
    background-color: $bgDefault;
    color: $fgDefault;
}

.fgDefault {
    color: $fgDefault;
}

@each $colorname,
$color in $colors {
    .#{$colorname} {
        background-color: $color;
        color: $bgDefault;

        &.button:active {
            background-color: lighten($color, 10%);
        }

        &.area.label,
        &.text {
            background-color: $bgDefault;
            color: $color;
        }

        @each $toneName,
        $baseColor in (light: white, dim: gray, dark: black) {
            $toneColor: mix($baseColor, $color, 40%);

            &.#{$toneName} {
                background-color: $toneColor;

                &.button:active {
                    background-color: lighten($toneColor, 10%);
                }

                &.area.label,
                &.text {
                    color: $toneColor;
                }
            }
        }
    }
}
