$zero: 0; //only for development
$radiusOuter: 25px;
$radiusInner: 20px;
.panel {
    height: 400px;
    background: #f90;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        background: #0d0d0d;
        top: $zero;
        right: $zero;
        bottom: $zero;
        left: $zero;
    }
}
%panel-child {
    background: #0d0d0d;
    position: absolute;
    height: auto;
    width: auto;
    overflow: auto;
    top: $zero;
    left: $zero;
    right: $zero;
    bottom: $zero;
    margin: 0;
}
.panel > .content {
    @extend %panel-child;
    margin: 16px;
}
.panel > .column {
    @extend %panel-child;
}
.panel > .row {
    @extend %panel-child;
}
.panel.top.left {
    border-top-left-radius: $radiusOuter;
    &:before {
        border-top-left-radius: $radiusInner;
    }
}
.panel.top.right {
    border-top-right-radius: $radiusOuter;
    &:before {
        border-top-right-radius: $radiusInner;
    }
}
.panel.bottom.left {
    border-bottom-left-radius: $radiusOuter;
    &:before {
        border-bottom-left-radius: $radiusInner;
    }
}
.panel.bottom.right {
    border-bottom-right-radius: $radiusOuter;
    &:before {
        border-bottom-right-radius: $radiusInner;
    }
}
//general
.panel.top {
    > .column {
        margin-top: 40px;
    }
    > .row {
        bottom: auto;
    }
}
.panel.bottom {
    > .column {
        margin-bottom: 40px;
    }
    > .row {
        top: auto;
    }
}
.panel.left {
    > .column {
        right: auto;
    }
    > .row {
        margin-left: 40px;
    }
}
.panel.right {
    > .column {
        left: auto;
    }
    > .row {
        margin-right: 40px;
    }
}
//size specific
.panel.top {
    &:before,
    > .content,
    > .column {
        top: 12px;
    }
    > .row {
        height: 12px;
    }
}
.panel.bottom {
    &:before,
    > .content,
    > .column {
        bottom: 12px;
    }
    > .row {
        height: 12px;
    }
}
.panel.left {
    &:before,
    > .content,
    > .row {
        left: 120px;
    }
    > .column {
        width: 120px;
    }
}
.panel.right {
    &:before,
    > .content,
    > .row {
        right: 120px;
    }
    > .column {
        width: 120px;
    }
}
